name: Cron Release Environment CI/CD

on:
    release:
        types: [published]
    workflow_dispatch:
        inputs:
            environment:
                description: "deploy environment"
                required: true
                default: "release"
                type: choice
                options:
                    - release

permissions:
    contents: read
    packages: read

jobs:
    deploy-cron-release:
        name: Deploy cron to release environment
        uses: ./.github/workflows/reusable-deploy.yml
        with:
            app_name: "godemo-cron"
            build_command: "build-cron"
            app_type: "cron"
            deploy_env: "release"
            target_path: "/root/godemo-cron"
            notify_title: "⏰ 【godemo后端Cron】生产环境上线通知"
            release_json: ${{ toJson(github.event.release) }}
        secrets:
            pat_token: ${{ secrets.PAT_TOKEN }}
            remote_host: ${{ secrets.REMOTE_HOST }}
            remote_user: ${{ secrets.REMOTE_USER }}
            ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
            remote_port: ${{ secrets.REMOTE_PORT }}
            feishu_webhook: ${{ secrets.FEISHU_DEPLOY_ONLINE_WEBHOOK }}
